Repository HDFGroup/hdf5, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lrknox, @byrnHDF, @derobins, @qkoziol, @bmribler, @gnuoyd, @jrmainzer, @bljhdf, @brtnfld, @epourmal, @jhendersonHDF, @fortnern, @soumagne, @vchoi-hdfgroup, @rawarren

Make HDF5 library symbols hidden by default.
  config/gnu-flags
Owners: @lrknox, @derobins, @qkoziol, @byrnHDF

When autoconf is used, just force the use of GCC visibility attributes for H5_DLL and family.
  src/H5api_adpt.h
Owners: @jhendersonHDF, @derobins, @fortnern, @qkoziol, @soumagne, @vchoi-hdfgroup, @jrmainzer

Remove the H5_DLL attribute from H5C_get_tag(). I am pretty sure the symbol should not be exported.
  src/H5Cprivate.h
Owners: @jhendersonHDF, @derobins, @fortnern, @qkoziol, @soumagne, @vchoi-hdfgroup, @jrmainzer

Changing the signal handling to named pipe for better portablity.
  test/testvfdswmr.sh.in
  test/vfd_swmr_group_writer.c
Owners: @jhendersonHDF, @derobins, @fortnern, @qkoziol, @soumagne, @vchoi-hdfgroup, @jrmainzer

Stupid formatter
  test/accum.c
  test/dt_arith.c
Owners: @jhendersonHDF, @derobins, @fortnern, @qkoziol, @soumagne, @vchoi-hdfgroup, @jrmainzer

Reformat code with clang v10.0.1.
  hl/test/test_lite.c
  test/dsets.c
  test/mf.c
  test/tvltypes.c
Owners: @bmribler, @byrnHDF, @derobins, @jhendersonHDF, @fortnern, @qkoziol, @soumagne, @vchoi-hdfgroup, @jrmainzer

Reformat source with clang v10.0.1.
  c++/src/H5DcreatProp.cpp
  c++/src/H5DcreatProp.h
  c++/test/dsets.cpp
  c++/test/h5cpputil.cpp
  c++/test/h5cpputil.h
  src/H5Zscaleoffset.c
  tools/test/h5repack/h5repackgentest.c
Owners: @bmribler, @byrnHDF, @derobins, @jhendersonHDF, @fortnern, @qkoziol, @soumagne, @vchoi-hdfgroup, @jrmainzer

Removed checks/workarounds for pre-C++89 compatibility (#449)
  CMakeLists.txt
  c++/examples/chunks.cpp
  c++/examples/compound.cpp
  c++/examples/create.cpp
  c++/examples/extend_ds.cpp
  c++/examples/h5group.cpp
  c++/examples/readdata.cpp
  c++/examples/testh5c++.sh.in
  c++/examples/writedata.cpp
  c++/src/H5Attribute.cpp
  c++/src/H5DataSet.cpp
  c++/src/H5DataSpace.cpp
  c++/src/H5DataType.cpp
  c++/src/H5Exception.h
  c++/src/H5FaccProp.cpp
  c++/src/H5File.cpp
  c++/src/H5Group.cpp
  c++/src/H5Include.h
  c++/src/H5PropList.cpp
  c++/test/dsets.cpp
  c++/test/h5cpputil.cpp
  c++/test/tarray.cpp
  c++/test/tattr.cpp
  c++/test/tcompound.cpp
  c++/test/tdspl.cpp
  c++/test/testhdf5.cpp
  c++/test/tfile.cpp
  c++/test/tfilter.cpp
  c++/test/th5s.cpp
  c++/test/titerate.cpp
  c++/test/tlinks.cpp
  c++/test/tobject.cpp
  c++/test/trefer.cpp
  c++/test/ttypes.cpp
  c++/test/tvlstr.cpp
  config/cmake_ext_mod/HDFCXXTests.cpp
  config/cmake_ext_mod/HDFUseCXX.cmake
Owners: @byrnHDF, @derobins, @bmribler, @lrknox, @qkoziol

Added C++11 override keyword where appropriate (#433)
  c++/src/H5DataSpace.h
  c++/src/H5Exception.h
  c++/src/H5File.h
  c++/src/H5Group.h
  c++/src/H5Include.h
  c++/src/H5Object.h
Owners: @bmribler, @byrnHDF, @derobins

Various clang tidy warning fixes (#448)
  c++/src/H5Attribute.cpp
  c++/src/H5DcreatProp.cpp
  c++/src/H5DcreatProp.h
  c++/src/H5DxferProp.cpp
  c++/src/H5Exception.cpp
  c++/src/H5File.cpp
  c++/src/H5Location.cpp
  c++/src/H5Object.cpp
  c++/test/dsets.cpp
  c++/test/h5cpputil.cpp
  c++/test/h5cpputil.h
  src/H5Tconv.c
  src/H5Zscaleoffset.c
  test/cache_common.c
  test/dsets.c
  test/earray.c
  test/error_test.c
  test/external.c
  test/ohdr.c
  tools/test/h5diff/h5diffgentest.c
  tools/test/h5repack/h5repackgentest.c
  tools/test/perform/sio_engine.c
  tools/test/perform/sio_perf.c
Owners: @bmribler, @byrnHDF, @derobins, @jhendersonHDF, @fortnern, @qkoziol, @soumagne, @vchoi-hdfgroup, @jrmainzer

Add file h5pytest.yml.
  .github/workflows/h5pytest.yml
  MANIFEST
  release_docs/code-conventions.md
Owners: @lrknox, @bljhdf, @byrnHDF

Change windows TS to use older VS.
  .github/workflows/main.yml
  .github/workflows/pr-check.yml
Owners: @lrknox

correct window os name
  .github/workflows/main.yml
  .github/workflows/pr-check.yml
Owners: @lrknox

Change windows TS to use older VS.
  .github/workflows/main.yml
  .github/workflows/pr-check.yml
Owners: @lrknox

Change windows TS to use older VS.
  .github/workflows/main.yml
  .github/workflows/pr-check.yml
Owners: @lrknox

Change windows TS to use older VS.
  .github/workflows/main.yml
  .github/workflows/pr-check.yml
Owners: @lrknox

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       @lrknox

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
*.cmake           @byrnHDF @derobins
CMakeLists.txt    @byrnHDF @derobins
CMakeTests.*      @byrnHDF @derobins

/bin/             @lrknox @derobins @qkoziol

/c++/             @bmribler @byrnHDF @derobins

/config/          @lrknox @derobins @qkoziol @byrnHDF

/doc/             @gnuoyd @jrmainzer

/examples/        @lrknox @derobins @bljhdf

/fortran/         @brtnfld @epourmal

/hl/              @bmribler @byrnHDF @derobins

/java/            @jhendersonHDF @byrnHDF

/m4/              @lrknox @derobins

/release_docs/    @lrknox @bljhdf @byrnHDF

/src/             @jhendersonHDF @derobins @fortnern @qkoziol @soumagne @vchoi-hdfgroup @jrmainzer

/test/            @jhendersonHDF @derobins @fortnern @qkoziol @soumagne @vchoi-hdfgroup @jrmainzer

/testpar/         @jhendersonHDF @rawarren @jrmainzer @qkoziol

/tools/           @byrnHDF @bmribler @derobins

/utils/           @lrknox @byrnHDF @derobins
