Repository HDFGroup/hdf5, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lrknox, @byrnHDF, @derobins, @qkoziol, @bmribler, @gnuoyd, @jrmainzer, @bljhdf, @brtnfld, @epourmal, @jhendersonHDF, @fortnern, @soumagne, @vchoi-hdfgroup, @rawarren

Add script to test h5py.
  .github/workflows/h5pytest.yml
Owners: @lrknox

Fix script error.
  .github/workflows/h5pytest.yml
Owners: @lrknox

Change file access to read only for java tests
  java/test/TestH5.java
  java/test/TestH5D.java
Owners: @jhendersonHDF, @byrnHDF

Added contributing.md file and rearranged doc entries in alphabetical order.
  MANIFEST
Owners: @lrknox

Replaces BSD random functions with ISO
  test/vfd_swmr.c
  test/vfd_swmr_zoo_writer.c
Owners: @jhendersonHDF, @derobins, @fortnern, @qkoziol, @soumagne, @vchoi-hdfgroup, @jrmainzer

Split clang format operations.
  .github/workflows/clang-format-fix.yml
  MANIFEST
Owners: @lrknox

Fixed some clang-tidy performance-type-promotion-in-math-fn warnings
  src/H5Tconv.c
  src/H5Zscaleoffset.c
  test/dsets.c
  tools/test/h5diff/h5diffgentest.c
Owners: @jhendersonHDF, @derobins, @fortnern, @qkoziol, @soumagne, @vchoi-hdfgroup, @jrmainzer, @byrnHDF, @bmribler

Fixed clang-tidy bugprone-reserved-identifier warnings
  test/earray.c
  test/external.c
  test/ohdr.c
  tools/test/h5repack/h5repackgentest.c
  tools/test/perform/sio_engine.c
  tools/test/perform/sio_perf.c
Owners: @jhendersonHDF, @derobins, @fortnern, @qkoziol, @soumagne, @vchoi-hdfgroup, @jrmainzer, @byrnHDF, @bmribler

Fixed clang-tidy bugprone-copy-constructor-init warning
  c++/src/H5File.cpp
Owners: @bmribler, @byrnHDF, @derobins

Fixed clang-tidy readability-redundant-string-init warnings
  c++/src/H5Attribute.cpp
  c++/src/H5DxferProp.cpp
  c++/src/H5Exception.cpp
  c++/src/H5Location.cpp
  c++/src/H5Object.cpp
Owners: @bmribler, @byrnHDF, @derobins

Fixed clang-tidy bugprone-assert-side-effect warnings
  test/cache_common.c
Owners: @jhendersonHDF, @derobins, @fortnern, @qkoziol, @soumagne, @vchoi-hdfgroup, @jrmainzer

Fixed clang-tidy readability-redundant-preprocessor warning
  c++/src/H5Location.cpp
  test/error_test.c
Owners: @bmribler, @byrnHDF, @derobins, @jhendersonHDF, @fortnern, @qkoziol, @soumagne, @vchoi-hdfgroup, @jrmainzer

Fixed clang-tidy performance-unnecessary-value-param warnings
  c++/src/H5DcreatProp.cpp
  c++/src/H5DcreatProp.h
  c++/test/dsets.cpp
  c++/test/h5cpputil.cpp
  c++/test/h5cpputil.h
Owners: @bmribler, @byrnHDF, @derobins

Applied clang-tidy readability-delete-null-pointer fixes
  c++/src/H5DaccProp.cpp
  c++/src/H5DataSpace.cpp
  c++/src/H5DcreatProp.cpp
  c++/src/H5DxferProp.cpp
  c++/src/H5FaccProp.cpp
  c++/src/H5FcreatProp.cpp
  c++/src/H5LaccProp.cpp
  c++/src/H5LcreatProp.cpp
  c++/src/H5OcreatProp.cpp
  c++/src/H5PropList.cpp
  c++/test/dsets.cpp
  c++/test/tcompound.cpp
  c++/test/tfile.cpp
  c++/test/trefer.cpp
  c++/test/ttypes.cpp
  c++/test/tvlstr.cpp
Owners: @bmribler, @byrnHDF, @derobins

Added C++11 override keyword where appropriate
  c++/src/H5DataSpace.h
  c++/src/H5Exception.h
  c++/src/H5File.h
  c++/src/H5Group.h
  c++/src/H5Include.h
  c++/src/H5Object.h
Owners: @bmribler, @byrnHDF, @derobins

Adds DLLVAR macros to allow exporting symbols on Windows
  src/H5FDvfd_swmr_private.h
  test/vfd_swmr_common.h
Owners: @jhendersonHDF, @derobins, @fortnern, @qkoziol, @soumagne, @vchoi-hdfgroup, @jrmainzer

Add developer header file
  examples/h5_elink_unix2win.c
  examples/h5_extlink.c
Owners: @lrknox, @derobins, @bljhdf

Update for C99 compatibility
  examples/testh5cc.sh.in
Owners: @lrknox, @derobins, @bljhdf

Add missing trace macro
  src/H5ES.c
Owners: @jhendersonHDF, @derobins, @fortnern, @qkoziol, @soumagne, @vchoi-hdfgroup, @jrmainzer

Stop clang-format from messing with the trace macros. Don't set up VOL wrappers for 'infrastructure' objects like requests and blobs
  src/H5VLcallback.c
Owners: @jhendersonHDF, @derobins, @fortnern, @qkoziol, @soumagne, @vchoi-hdfgroup, @jrmainzer

Rips out unused, unportable "print elapsed time" code in page_buffer.c
  test/page_buffer.c
Owners: @jhendersonHDF, @derobins, @fortnern, @qkoziol, @soumagne, @vchoi-hdfgroup, @jrmainzer

Hides use of clock_gettime() on Windows
  test/vfd_swmr_common.c
Owners: @jhendersonHDF, @derobins, @fortnern, @qkoziol, @soumagne, @vchoi-hdfgroup, @jrmainzer

Fixes order of magnitude issue in Windows nanosleep equivalent
  src/H5system.c
Owners: @jhendersonHDF, @derobins, @fortnern, @qkoziol, @soumagne, @vchoi-hdfgroup, @jrmainzer

Removes an unused variable from vfd_swmr.c
  test/vfd_swmr.c
Owners: @jhendersonHDF, @derobins, @fortnern, @qkoziol, @soumagne, @vchoi-hdfgroup, @jrmainzer

More javadoc comments
  java/src/hdf/hdf5lib/HDF5Constants.java
Owners: @jhendersonHDF, @byrnHDF

Removed workarounds for pre-standard inline keyword
  src/H5Oshared.h
  src/H5VMprivate.h
  src/H5private.h
Owners: @jhendersonHDF, @derobins, @fortnern, @qkoziol, @soumagne, @vchoi-hdfgroup, @jrmainzer

Removes err.h cruft from genall5.c and vfd_swmr_common.c
  test/genall5.c
  test/vfd_swmr_common.c
Owners: @jhendersonHDF, @derobins, @fortnern, @qkoziol, @soumagne, @vchoi-hdfgroup, @jrmainzer

Fix brackets on non-POSIX vfd_swmr.c
  test/vfd_swmr.c
Owners: @jhendersonHDF, @derobins, @fortnern, @qkoziol, @soumagne, @vchoi-hdfgroup, @jrmainzer

Fix warning about formatting a directory
  bin/format_source
  bin/format_source_patch
Owners: @lrknox, @derobins, @qkoziol

Converts nanosleep to H5_nanosleep in genall5.c
  test/genall5.c
Owners: @jhendersonHDF, @derobins, @fortnern, @qkoziol, @soumagne, @vchoi-hdfgroup, @jrmainzer

Excludes VFD SWMR acceptance tests on Windows
  test/vfd_swmr_addrem_writer.c
  test/vfd_swmr_bigset_writer.c
  test/vfd_swmr_generator.c
  test/vfd_swmr_group_writer.c
  test/vfd_swmr_reader.c
  test/vfd_swmr_remove_reader.c
  test/vfd_swmr_remove_writer.c
  test/vfd_swmr_sparse_reader.c
  test/vfd_swmr_sparse_writer.c
  test/vfd_swmr_vlstr_reader.c
  test/vfd_swmr_vlstr_writer.c
  test/vfd_swmr_writer.c
Owners: @jhendersonHDF, @derobins, @fortnern, @qkoziol, @soumagne, @vchoi-hdfgroup, @jrmainzer

ddressed Gerd's review comments; found and fixed more typos.
  doc/branches-explained.md
  doc/contributing.md
Owners: @gnuoyd, @jrmainzer

Windows cleanup
  test/genall5.c
  test/genall5.h
  test/vfd_swmr.c
  test/vfd_swmr_common.c
  test/vfd_swmr_common.h
Owners: @jhendersonHDF, @derobins, @fortnern, @qkoziol, @soumagne, @vchoi-hdfgroup, @jrmainzer

Split format source and commit changes on repo push
  .github/workflows/clang-format-fix.yml
  MANIFEST
Owners: @lrknox

Split format source and commit changes on repo push
  .github/workflows/clang-format-fix.yml
  MANIFEST
Owners: @lrknox

Split format source and commit changes on repo push
  .github/workflows/clang-format-fix.yml
  MANIFEST
Owners: @lrknox

Remove pre-split setting
  .github/workflows/clang-format-check.yml
Owners: @lrknox

remove pre-split setting
  .github/workflows/clang-format-check.yml
Owners: @lrknox

format source
  java/src/jni/h5util.c
  java/src/jni/h5util.h
Owners: @jhendersonHDF, @byrnHDF

remove pre-split setting
  .github/workflows/clang-format-check.yml
Owners: @lrknox

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       @lrknox

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
*.cmake           @byrnHDF @derobins
CMakeLists.txt    @byrnHDF @derobins
CMakeTests.*      @byrnHDF @derobins

/bin/             @lrknox @derobins @qkoziol

/c++/             @bmribler @byrnHDF @derobins

/config/          @lrknox @derobins @qkoziol @byrnHDF

/doc/             @gnuoyd @jrmainzer

/examples/        @lrknox @derobins @bljhdf

/fortran/         @brtnfld @epourmal

/hl/              @bmribler @byrnHDF @derobins

/java/            @jhendersonHDF @byrnHDF

/m4/              @lrknox @derobins

/release_docs/    @lrknox @bljhdf @byrnHDF

/src/             @jhendersonHDF @derobins @fortnern @qkoziol @soumagne @vchoi-hdfgroup @jrmainzer

/test/            @jhendersonHDF @derobins @fortnern @qkoziol @soumagne @vchoi-hdfgroup @jrmainzer

/testpar/         @jhendersonHDF @rawarren @jrmainzer @qkoziol

/tools/           @byrnHDF @bmribler @derobins

/utils/           @lrknox @byrnHDF @derobins
